<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>按钮组件</title>
    <!--  公共模块-->
    <script src="../plugins/jquery/jquery-1.10.1.min.js"></script>
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/api/common-event.js"></script>
    <script src="../scripts/api/common-listen.js"></script>
    <!-- 按钮 -->
    <script src="../scripts/components/cb-btn.js"></script>

  </head>
  <body>
    <cb-btn data-options='{"domDiv":"1","cid":"btn1","type":"reset","disabled":"true"}' data-cbstyle='{"width":"300px","border":"2px solid #000"}' bindcl="serialize,even1" bindbl="wing3,event2">中国</cb-btn>
    <cb-btn class="btn1"  data-options='{"domDiv":"1","cid":"btn1"}' bindcl="serialize,even1" bindbl="wing3,event2"><div>中国1</div></cb-btn>


  </body>

</html>
