<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主导航栏</title>
    <!--公共模块JS-->
    <script src="../plugins/jquery/jquery-1.10.1.min.js"></script>
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/api/common-event.js"></script>
    <script src="../scripts/api/common-listen.js"></script>
    <script src="../scripts/api/common-rule.js"></script>
    <script src="../plugins/mustache/mustache.min.js"></script>
    <script src="../scripts/api/common-template.js"></script>
    <!-- 主导航栏 -->
    <script src="../scripts/components/cb-form-base.js"></script>
</head>
<body>
<cb-form-base class="" regExp="required-必须输入姓名" data-options='{"placeholder":"请输入姓名","item":"checkbox","type":"","cid":"ssss","service":"111","label":"靓号级别：","name":"goodLevel","isRequest":"false","list":"outputParamList","value":"key","text":"value","paraCode":"NUM_LEVEL","option":[{"key":"1","value":"普号"},{"key":"2","value":"靓号"},{"key":"03","value":"优质号码"},{"key":"04","value":"带“4”号"}],"regExp":"lowerLetter","regTip":"请输入小写字母"}'></cb-form-base>
</body>
</html>