<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>多选组件</title>
    <!--  公共模块JS-->
    <script src="../plugins/jquery/jquery-1.10.1.min.js"></script>
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/api/common-event.js"></script>
    <script src="../scripts/api/common-listen.js"></script>
    <script src="../scripts/api/common-template.js"></script>
    <script src="../plugins/mustache/mustache.min.js"></script>
    <!-- 多选 -->
    <script src="../scripts/components/cb-select.js"></script>
</head>
<body>

<cb-select class=""  data-options='{"cid":"ssss","service":"111","name":"goodLevel","list":"outputParamList","value":"key","text":"value","paraCode":"NUM_LEVEL"}'></cb-select>
</body>
</html>
