<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>表单容器组件</title>
    <!--  公共模块JS-->
    <script src="../plugins/jquery/jquery-1.10.1.min.js"></script>
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/api/commonEvent.js"></script>
    <script src="../scripts/api/commonListen.js"></script>
    <script src="../plugins/mustache/mustache.min.js"></script>
    <!-- 表单容器 -->
    <script src="../scripts/components/cuform.js"></script>
    <!-- 容器 -->
    <script src="../scripts/components/cuview.js"></script>
    <!-- 按钮 -->
    <script src="../scripts/components/cubtn.js"></script>
    <!-- 输入框 -->
    <script src="../scripts/components/cuinput.js"></script>

  </head>
  <body>
    <cuform class="" data-options='{"title":"查询条件","width":"1200px"}'>
      <cuview class="border-bottom" data-options='{"column":"2","domDiv":"cuview1"}'>
        <cuinput class="" data-options='{"label":"查询条件1：","placeholder":"请输入姓名","regExp":"required,lowerLetter","regTip":",请输入小写字母"}'></cuinput>
        <cuinput class="" data-options='{"label":"查询条件2：","placeholder":"请输入姓名","regExp":"required,lowerLetter","regTip":",请输入小写字母"}'></cuinput>
      </cuview>
      <cuview class="text-left border-bottom" >
        <cubtn class="" data-options='{"id":"4567"}' bindcl="serialize,even1" bindbl="wing3,event2">按钮一</cubtn>
      </cuview>

    </cuform>
  </body>

</html>
