<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>容器组件</title>
    <!--  公共模块JS-->
    <script src="../plugins/jquery/jquery-1.10.1.min.js"></script>
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/api/commonEvent.js"></script>
    <script src="../scripts/api/commonListen.js"></script>
    <script src="../plugins/mustache/mustache.min.js"></script>
    <!-- 容器 -->
    <script src="../scripts/components/cuview.js"></script>
    <!-- 表格 -->
    <script src="../scripts/components/table.js"></script>
    <!-- 按钮 -->
    <script src="../scripts/components/cubtn.js"></script>
    <!-- 输入框 -->
    <script src="../scripts/components/cuinput.js"></script>

  </head>
  <body>
    <cuview class="as de" data-options='{  "column":"3","domDiv":"cuview2","id":"233"}'>
      <cuinput data-options='{"regExp":"required,lowerLetter","regTip":",请输入小写字母"}'>组件一</cuinput>
      <cuview data-options='{"column":"2","domDiv":"cuview1"}'>
        <cuinput class="wing">组件二一</cuinput>
        <cucheckbox class="wing">组件三二</cucheckbox>
      </cuview>

      <cutable  colspan="3" listen='{"even1":"listen1","event2":"linten2"}' data-options='{
        "tableDiv":"table1",
        "tableId":"3434",
       "idField":"deviceNumber",
       "operation":[{"field":"batchNo","triggerType":"select"}],
        "columns":[
        {"field":"deviceNumber","title":"业务号码"},
        {"field":"storeName","title":"库"}
         ]}'>
       </cutable>
      <cubtn class="wing" data-options='{"domDiv":"1","id":"btn1"}' bindcl="wing,even1" bindbl="wing3,event2">按钮一</cubtn>
    </cuview>

  </body>

      <script type="text/javascript">

        // (function(){
        //   EventHandler.setHandler("wing",function(triggerName){
        //     console.log($(this));
        //     console.log(triggerName+" 自定义的事件函数");
        //   })
        // })();
        (function(){
          Eventlistenr.setListenr("listen1",function(triggerName){
            console.log($(this));
            console.log("demaxiya");
          })
        })();

      </script>
</html>
